<% layout('layout/boilerplate') %>

<a href="/" class="btn btn-outline-primary ms-5 my-4">&#8592; Main page</a>
<div class="row m-4 text-white">
    <h1>Mobile Apps Development</h1>


    <h2>Latest Project - GetCoffee</h2>
    <p>Coffee bars map that are based around the Prague. Amazing project that gets on well with my passion for coffee.
        Application that shows you closest coffee bars around you, and you can see another details if you want to get
        more information about them.
    </p>
    <p>You can sort coffee bars by the mood you have, or the activity you are about to do. Whether it's studying, exploring
        atypical places, date or chilling in the garden. </p>
    <p class="my-2">As a backend was chosen Firebase, which is developed to work with Flutter perfectly. Authentication,
        image and data storing and cloud messaging is implemented with help of Firebase. For inserting data to database,
        there was created another Node.js application to have better user experience and validation before inserting
        data into database.</p>
<div class="d-flex justify-content-center">


        <div id="carouselExampleIndicators" style="max-width: 300px;" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/assets/images/mo1.jpg" class="d-block w-100" alt="image">
                </div>
                <div class="carousel-item">
                    <img src="/assets/images/mo2.jpg" class="d-block w-100" alt="image">
                </div>
                <div class="carousel-item">
                    <img src="/assets/images/mo3.jpg" class="d-block w-100" alt="image">
                </div>
                <div class="carousel-item">
                    <img src="/assets/images/mo4.jpg" class="d-block w-100" alt="image">
                </div>
            
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
</div>

</div>