<% layout('layout/boilerplate') %>

    <a href="/" class="btn btn-outline-primary ms-5 my-4">&#8592; Main page</a>
<div class="row m-4 text-white">
    <h1>Web Apps Development</h1>


    <h2>Latest Project - CABALIAM GAMES</h2>
    <p>Project that has been ordered by client from Canada. Two web apps connected together. Crypto games database with
        all information about them. The goal was to create
        admin site for inserting data into database, and the second site for public users to browse, sort and find
        crypto games. The collaboration went into good relationship, so there will be some another projects coming soon.
    </p>
    <p>Starting with complex PostgreSQL database with 15+ tables connected together. Model is created by DataGrip
        software. The first model was created with different software just for visual overview, later turned into SQL
        and created on hosting platform. This process was learned at Prague IT university CVUT.</p>
    <img src="/assets/images/public.png" alt="schema">
    <p class="my-2">To keep this short, another steps were to create all routes and APIs, so the admin have power to add
        new
        blockchains, genres to the database. Then create games and connect them to all attributes. Later, they can be
        edited, deleted, published and more. Security and authentication implemented as well.</p>

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/assets/images/so3.png" class="d-block w-100" alt="image">
            </div>
            <div class="carousel-item">
                <img src="/assets/images/so2.png" class="d-block w-100" alt="image">
            </div>
            <div class="carousel-item">
                <img src="/assets/images/so1.png" class="d-block w-100" alt="image">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <p class="my-4">
        The more user friendly website for browsing the games in database, with functionality for searching and sorting.
    </p>

    <div id="carouselExampleIndicators1" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/assets/images/so5.png" class="d-block w-100" alt="image">
            </div>
            <div class="carousel-item">
                <img src="/assets/images/so4.png" class="d-block w-100" alt="image">
            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


</div>