$primary:       #fff;
$secondary:     #1F2233;
$success:       #383B4D;
$info:          #E6921F;
$warning:       #E6585C;
$dark:          #232638;
$light:         #1F2233;



@import "../../node_modules/bootstrap/scss/bootstrap";
