html, body {
  font-family: 'Source Code Pro', monospace;
  background-color: #1F2233;
}

section {
  min-height: 100vh;
}

.footer {
  min-height: 400px;
  background-color: #232638;
}

h1, h2 {
  font-family: 'Roboto Mono', monospace;
}

h3 {
  font-weight: 600;
}

.navbar-toggler-icon {
  background-image: url("/assets/icons/nav_x.svg");
}

.scrollContainer {
  visibility: hidden;
}

#pointerDiv {
  position: absolute;
  top: 85vh;
  cursor: pointer;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.pageHeading {
  color: #E6921F;
}

.btn:focus, .btn:active {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom_nav {
  position: relative;
  display: block;
  padding: 4px 0;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.custom_nav::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: #E6921F;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.custom_nav:hover {
  color: #95a5a6;
}

.custom_nav:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: center;
          transform-origin: center;
}

svg {
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

path {
  -webkit-transition: stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

path:nth-child(1) {
  -webkit-transform-origin: 36% 40%;
          transform-origin: 36% 40%;
}

path:nth-child(2) {
  stroke-dasharray: 29 299;
}

path:nth-child(3) {
  -webkit-transform-origin: 35% 63%;
          transform-origin: 35% 63%;
}

path:nth-child(4) {
  stroke-dasharray: 29 299;
}

path:nth-child(5) {
  -webkit-transform-origin: 61% 52%;
          transform-origin: 61% 52%;
}

path:nth-child(6) {
  -webkit-transform-origin: 62% 52%;
          transform-origin: 62% 52%;
}

.active path:nth-child(1) {
  -webkit-transform: translateX(9px) translateY(1px) rotate(45deg);
          transform: translateX(9px) translateY(1px) rotate(45deg);
}

.active path:nth-child(2) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
}

.active path:nth-child(3) {
  -webkit-transform: translateX(9px) translateY(1px) rotate(-45deg);
          transform: translateX(9px) translateY(1px) rotate(-45deg);
}

.active path:nth-child(4) {
  stroke-dasharray: 225 299;
  stroke-dashoffset: -72px;
}

.active path:nth-child(5) {
  -webkit-transform: translateX(9px) translateY(1px) rotate(-45deg);
          transform: translateX(9px) translateY(1px) rotate(-45deg);
}

.active path:nth-child(6) {
  -webkit-transform: translateX(9px) translateY(1px) rotate(45deg);
          transform: translateX(9px) translateY(1px) rotate(45deg);
}

.myBtn {
  border: 1.5px solid #E6921F;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.myBtn:hover {
  background-color: #E6921F;
  color: white;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  cursor: pointer;
}

#text {
  display: inline-block;
  vertical-align: middle;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}

#cursor {
  display: inline-block;
  vertical-align: middle;
  width: 4px;
  height: 1.5rem;
  background-color: white;
  -webkit-animation: blink .75s step-end infinite;
          animation: blink .75s step-end infinite;
}



@-webkit-keyframes blink {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: white;
  }
}

@keyframes blink {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: white;
  }
}
/*# sourceMappingURL=main.css.map */