<div id="c-fixed_wrapper" class="row d-flex justify-content-center footer">
    <img class="col-12 mt-3" src="/assets/icons/logo.svg" alt="logo" height="300" width="300">
    <div class="col-12 d-flex justify-content-center"><%-include("./links")%></div>
    <h5 class="col-12 text-white d-flex justify-content-center mb-5">Martin Holoubek</h5>
</div>